PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://bishakira595_db_user:GmB5tUcEy7ROZCEu@cluster0.s6ocq3a.mongodb.net/?appName=Cluster0
JWT_SECRET=supersecretjwtsecretkeychangeinproduction
GEMINI_API_KEY=AIzaSyAm8d4VPOli7X5mVzPJJGVg0WR0oGdVPmc
